
.footer__container{
  background: #404040;
  padding: 50px 140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer_left_Logo{
  display: none;
  width: 110px;
  padding-left: 12px;
  padding-bottom: 50px;
}

.footer__left{
  padding: 0 12px;
}

.footer__company-name{
  font-size: 1rem;
  padding-bottom: 15px;
  font-weight: 700;
}

.text-red{
  color: var(--color-red);
}

.footer__items{
  padding-top: 20px;
}

.footer__title{
  font-size: 0.875rem;
  padding-bottom: 5px;
}

.footer__description{
  font-size: 10px;
}



.footer__right{
  text-align: right;
  padding: 0 12px;
}

.footer_right_Logo{
  width: 80px;
  left: calc(50% + 198px);
  display: block;
  position: relative;
  padding-bottom: 60px;
}



.footer__social-media{
  font-size: 20px;
  padding-bottom: 20px;
}

.footer__social-media a{
  padding-left: 20px;
}

.footer__copy-right{
  font-size: 10px;
}


/* MEDIA QUERIES (MEDIUM SCREENS) */
@media screen and (max-width: 1024px) {
  .footer__right_img{
    display: none;
  }

  .footer_left_Logo{
    display: block;
    max-width: 80px;
    width: 16vw;
  }

  .footer__container{
    padding: 50px 0 100px 0;
    grid-template-columns: 1fr;
  }

  .footer__right{
    text-align: left;
  }
  .footer__social-media a{
    padding-left: 20px;
  }
  .footer__social-media a{
    padding: 0 20px 0 0;
  }

  .footer__right{
    padding-top: 50px;
  }

}
