.MainHeader{
  overflow: scroll;
}

.main__header{
  position: relative;
  height: 100%;
  width: 100%;
}

.animation-background{
  animation: backgroundFadeOut 5s forwards;
  background: #000;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
}

@keyframes backgroundFadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  } 
}

.animation-logo{
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

.animation-logo_image{
  animation: logoSplit 3s 3s forwards;
  margin: 0 2px;
}

@keyframes logoSplit {
  0% {
    margin: 0 2px;
  }

  50% {
    margin: 0 8vw;
  }

  80% {
    margin: 0 8vw;
    opacity: 1;
  }

  100% {
    margin: 0 8vw;
    opacity: 0;
  }  
}

.animation-logo__image--i{
  width: 10px;
  z-index: 2;
}

.animation-logo__image--f{
  width: 30px;
  z-index: 2;
}



/* ================INDEX============== */
.index{
  padding: 70px 132px 160px;
  display: grid;
  grid-template-columns: 41% 49%;
  gap: 10%;
}

.index-title{
  font-size: 2rem;
}

.index-discription p{
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: justify;
}


/* ================= experience ==================*/
.experience{
  position: relative;
  display: grid;
  place-items: center;
}
.experience__content-desktop{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  padding: 160px 335px 140px;
}

.experience__block{
  padding: 30px 0; 
  border-left: 1px solid #fff;
}

.experience__block:nth-child(1){
  border: none;
}

.experience__title{
  font-size: 30px;
  padding: 10px;
  text-align: center;
  font-weight: 400;
}

.experience__description{
  font-size: 18px;
  text-align: center;
  margin: 0 18px;
}


/* EXPERIENCE SWIPER */
.experience-mobile{
  display: none;
  background-image: url(../images/experience.jpg);
  height: 30.5rem;
}

.experience__block-mobile{
  margin: 0 auto;
}

.experience__title-mobile{
  font-size: 30px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.experience__description-mobile{
  font-size: 18px;
  text-align: center;
  margin: 0 18px;
  display: flex;
  justify-content: center;
}

.swiper-button-prev:after,
.swiper-button-next:after{
  color: #fff;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  background: #fff;
  width: 50px;
  height: 7px;
  border-radius: 10px;
}


/* EXPERIENCE SWIPER end*/

/* highlight */
.section--highlight{
  background: #000;
  z-index: 1;
  max-height: 170px 0 190px;
  padding: 170px 0 190px;
}

.wrapper{
  max-width: 1176px;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  z-index: 2;
}

.project1,
.project2,
.project3{
  cursor: default;
  opacity: 0.5;
  transition: var(--transition);
  z-index: 3;
}

.project1_divider{
  margin-top: -3px;
  position: relative;
  z-index: 2;
}
.project2_divider{
  margin-top: -3px;
  position: relative;
  z-index: 2;
}

.project__overlay{
  position: relative;
  margin-bottom: 12px;
}

.project1_divider,
.project2_divider,
.project3_divider{
    display: none;
    
}


.project__overlay:hover .project1_divider,
.project__overlay:hover .project1{
  display: block;
  opacity: 1;
}

.project__overlay:hover .project2_divider,
.project__overlay:hover .project2{
  display: block;
  opacity: 1;
}

.project__overlay:hover .project3_divider,
.project__overlay:hover .project3{
  display: block;
  opacity: 1;
}

.highlight__info{
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 3;
}

.highlight__category{
  font-size: 20px;
}

.highlight__name{
  font-size: 24px;
  font-weight: 700;
}









/* MEDIA QUERIES (MEDIUM SCREENS) */
@media screen and (max-width: 1024px) {
  /* INDEX */
  .index{
    padding: 70px 77px 160px;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .index-title{
    font-size: 2rem;
    padding-bottom: 8.5vw;
  }

  .index-discription p{
    font-weight: 100;
  }


  /* experience */
  .experience{
    display: none;
  }
  .experience-mobile{  
    display: block; 
    height: 63.5vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }



  /* experience swiper */
  .experience__block-mobile{
    padding: 12rem 17rem;
  }


  /* highlight */
  .wrapper{
    max-width: 660px;
  }

  .section--highlight{
    padding: 100px 0 100px;
  }

}






/* MEDIA QUERIES (SMALL SCREENS) */
@media screen and (max-width: 600px) {
  .main__header-BgImage {
    height: 19.19rem;
  } 



  /* INDEX */
  .index{
    padding: 9.1vw 12px 12vw;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .index-title{
    font-size: 3.9vw;
  }
  .index-discription p{
    font-size: 0.875rem;
    margin-bottom: 1rem;
    text-align: justify;
  }

  .experience__block-mobile{
    padding: 3.8rem 4.28rem;
  }



  /* highlight */
  .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .project2,
  .project3{
    padding-top: 10px;
  }

  .wrapper{
    max-width: 303px;
  }
  .highlight__category{
    font-size: 10px;
  }
  
  .highlight__name{
    font-size: 12px;
  }

  .section--highlight{
    padding: 60px 0 60px;
  }
}



