nav{
  padding-top: 40px;
  height: 150px;
  width: 100vw;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  background: linear-gradient(#000,hsla(0,0%,100%,0));
}
/* only show on medium and small screnns */
.nav__links__mobile{
    position: fixed;
    display: none;
    background: rgba(0,0,0,.8);
    width: 100%;
    padding: 5vw 4vw;
    text-align: center;
    top: 0;
    overflow: hidden;
    z-index: 999;
}

.nav__links__mobile li{
  position: relative;
  z-index: 999;
}

.nav__links__mobile li a{
  position: relative;
  z-index: 999;
}
/* only show on medium and small screnns */
.nav__toggle-btn{
  display: none;
}

.nav__container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__links{
  align-items: center;
  width: 70.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0 15px;
}

.nav__links li{
  text-align: center;
  justify-content: center;
  display: flex;
  position: relative;
  z-index: 99;
}

.nav__links li:nth-child(3){
  width: 100px;
  margin: 0 auto;
}

.nav__links li a{
  font-weight: 530;
}

.nav__logo{
  position: absolute;
  max-width: 110px;
  top: 1%;
  left: calc(50% - 55px);
  z-index: 999;
}

.active-nav {
  position: relative;
}

.active-nav::after {
  content: '';
  display: block;
  margin: 0 auto;
  right: -10%;
  width: 120%;
  height: 2px;
  background: red;
  position: absolute;
}






/* MEDIA QUERIES (MEDIUM SCREENS) */
@media screen and (max-width: 1024px) {
  nav{
    height: 130px;
  }
  
  .nav__links{
    display: none;
  }

  .nav__links__mobile li{
    padding: 30px 0;
    border-bottom: 1px solid #707070;
  }

  .nav__links__mobile li a{
    padding: 4vw 30vw;
    font-size:30px;
  }

  .nav__logo{
    width: 14.4vw;
    display: block;
    left: 10%;
  }

  .nav__toggle-btn{
    display: block;
    max-width: 60px;
    width: 8vw;
    position: absolute;
    right: 10%;
  }

  .nav__img{
    max-height: 110px;
    width: 100vw;
    padding: 0 9.8vw;
    align-items: center;
    text-align: center;
    display: flex;
  }

  .active-nav__mobile::after {
    content: '';
    display: block;
    margin-top: 30px;
    width: 755px;
    height: 1px;
    background: red;
    position: absolute;
    z-index: 9999;
  }

  .nav__cross{
    width: 5.3vw;
    max-width: 40px;
    padding: 20vh 0 17.4vh;
    margin: 0 auto;
  }


  .show__nav{
    display: block;
  }

  .hide__Nav{
    display: none;
  }

}

/* MEDIA QUERIES (SMALL SCREENS) */
@media screen and (max-width: 600px) {
  nav{
    height: 96.59px;
  }

  .nav__links__mobile li a{
    font-size: 3.5vw;
    padding: 4vw 32vw;
  }

  .active-nav__mobile::after {
    width: 363px;
  }
  
  

}











